.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(52, 107, 107);
  }
  
  input[type=text] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    width: 70%;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  input[type=text]:hover, button:hover {
    background-color: #3e8e41;
  }
  